.auth {
  position: relative;
  margin: 0 auto; /* Center the section horizontally */
}

.auth-banner {
  background-image: url("https://www.naturemade.com/cdn/shop/articles/healthy-foods-to-eat_960x.jpg?v=1611988563");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
  text-align: center;
  padding: 110px 0;
}

.auth-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #ddeedd;
  /* text-align: center; */
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 50px;
  width: 350px;
  height: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
