.purchase {
  position: relative;
  margin: 0 auto; /* Center the section horizontally */
}

.purchase-banner {
  background-image: url("https://www.naturemade.com/cdn/shop/articles/healthy-foods-to-eat_960x.jpg?v=1611988563");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
  text-align: center;
  padding: 110px 0;
}

.purchased-items-page h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
  color: black;
}

.purchased-items {
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}

.purchased-items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.purchased-items .item img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.purchased-items button {
  width: 150px;
  height: 50px;
  background-color: #c6bcb6;
  color: black;
  border-color: black;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
}

.purchased-items button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
